[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"

[dev-packages]
yapf = "*"
mypy = "*"
pylint = "*"
isort = "*"
coverage = "*"
selenium = "*"

[requires]
python_version = "3.6"

[scripts]
test = "bash ./test.sh"
autotest = "watchman-make -p **/*.py --run ./test.sh --settle .5"
